<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@300;400;700;900&family=Press+Start+2P&family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
    <div class="container">
        <h1><a class="mainTitle logo" href="/">MyBlog<span class="smilie">:)</span></a></h1>
    </div>
  <body>
    <div class="container">
