html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.logo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #ff0022!important;

}
.smilie{
  position: absolute;
  font-family: 'Roboto Mono', monospace;
  transition:2.4s;
  transform: rotate(410deg);
  
}
.mainTitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.mainTitle:hover{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #337ab7;
  text-decoration: none;
}
.contentTitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #337ab7;
}
.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Montez', cursive;
font-family: 'Press Start 2P', cursive; */